# -----------------------------------------------------------------------------
# Packages required for testing
# -----------------------------------------------------------------------------
-r requirements_tests.txt

# -----------------------------------------------------------------------------
# Packages for source formatting
# -----------------------------------------------------------------------------
ruff       == 0.3.4
pre-commit == 3.7.0

# -----------------------------------------------------------------------------
# Packages for other developement tasks
# -----------------------------------------------------------------------------
pur == 7.3.1    # Update requirements.txt
