# -----------------------------------------------------------------------------
# Packages required for testing
# -----------------------------------------------------------------------------
-r requirements_tests.txt

# -----------------------------------------------------------------------------
# Packages for source formatting
# -----------------------------------------------------------------------------
ruff       == 0.7.2
pre-commit == 5.0.0

# -----------------------------------------------------------------------------
# Packages for other developement tasks
# -----------------------------------------------------------------------------
pur == 7.3.2    # Update requirements.txt
